<a href="https://colab.research.google.com/github/Onestringlab/osl_datascience/blob/main/7_Menggabungkan_Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# membuat data pelanggan
pelanggan = pd.DataFrame({'idpelanggan':[1, 2, 3, 4, 5],
                          'nama':['Adi','Zainal','Fajar','Budiman','Marlina']})
pelanggan

   idpelanggan     nama
0            1      Adi
1            2   Zainal
2            3    Fajar
3            4  Budiman
4            5  Marlina

In [3]:
# membuat data transaksi
transaksi = pd.DataFrame({'idtransaksi': [5, 6, 7],
                          'idpelanggan' : [2, 3, 4],
                          'idbarang' : [8, 9, 10],
                          'jumlah' : [3, 4, 5] })
transaksi

   idtransaksi  idpelanggan  idbarang  jumlah
0            5            2         8       3
1            6            3         9       4
2            7            4        10       5

In [4]:
# membuat data barang
barang = pd.DataFrame({'idbrg' : [8, 9, 10, 11, 12],
                          'nama_barang' : ['Biskuit', 'Kopi', 'Gula', 'Beras', 'Minyak Goreng'],
                       'harga' : [2000, 3000, 3500, 5000, 6000]})
barang

   idbrg    nama_barang  harga
0      8        Biskuit   2000
1      9           Kopi   3000
2     10           Gula   3500
3     11          Beras   5000
4     12  Minyak Goreng   6000

In [5]:
# menggabungkan 2 dataframe yaitu pelanggan dan transaksi secara inner join
df1 = pd.merge(pelanggan,transaksi, on = 'idpelanggan', how='inner')
df1

   idpelanggan     nama  idtransaksi  idbarang  jumlah
0            2   Zainal            5         8       3
1            3    Fajar            6         9       4
2            4  Budiman            7        10       5

In [6]:
# menggabungkan 2 dataframe yaitu pelanggan dan transaksi secara left join
df2 = pd.merge(pelanggan,transaksi, on = 'idpelanggan', how='left')
df2

   idpelanggan     nama  idtransaksi  idbarang  jumlah
0            1      Adi          NaN       NaN     NaN
1            2   Zainal          5.0       8.0     3.0
2            3    Fajar          6.0       9.0     4.0
3            4  Budiman          7.0      10.0     5.0
4            5  Marlina          NaN       NaN     NaN

In [7]:
# menggabungkan 2 dataframe yaitu transaksi dan barang  secara right join
df3 = pd.merge(transaksi,barang, left_on = 'idbarang', right_on = 'idbrg', how='right')
df3

   idtransaksi  idpelanggan  idbarang  jumlah  idbrg    nama_barang  harga
0          5.0          2.0       8.0     3.0      8        Biskuit   2000
1          6.0          3.0       9.0     4.0      9           Kopi   3000
2          7.0          4.0      10.0     5.0     10           Gula   3500
3          NaN          NaN       NaN     NaN     11          Beras   5000
4          NaN          NaN       NaN     NaN     12  Minyak Goreng   6000

In [8]:
# menggabungkan 3 dataframe yaitu pelanggan, transaksi dan barang secara inner join
df4 = pd.merge(pelanggan, transaksi, on = 'idpelanggan', how='inner')
df5 = pd.merge(df4, barang, left_on = 'idbarang', right_on = 'idbrg', how='inner')
df5

,idpelanggan,nama,idtransaksi,idbarang,jumlah,idbrg,nama_barang,harga
0,2,Zainal,5,8,3,8,Biskuit,2000
1,3,Fajar,6,9,4,9,Kopi,3000
2,4,Budiman,7,10,5,10,Gula,3500